<!DOCTYPE html>
<html class="h-100" xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:replace="fragments/head :: header" />
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <title>Fourdrez</title>
</head>

<body class="d-flex flex-column h-100">
    <header th:replace="fragments/nav.html :: nav"></header>
    
    

    <main class="flex-shrink-0" style="display:grid; gap:50px;">
        <div class="imagen" style="grid-row-start: 1;grid-row-end: 3; background-color: #2196F3;">
            <img src="https://picsum.photos/200/500">
        </div>
        <div class="container" style="grid-row-start: 1;grid-row-end: 3; background-color: #2196F3;">
            <h1 class="mt-5" style="text-align:center;">Cómo jugar</h1>
            <p style="text-align:justify; margin: 20px;">
                El juego comienza con los jugadores sentados en las cuatro esquinas del tablero, con los reyes ubicados en las esquinas opuestas. El jugador que comienza es elegido al azar.

Cada jugador, por turno, debe mover una de sus piezas. Las piezas se mueven de acuerdo a las mismas reglas que en el ajedrez de dos jugadores. El movimiento de las piezas es el siguiente:

El rey se mueve una casilla en cualquier dirección.
La reina se mueve en cualquier dirección, tanto en diagonal como en línea recta.
Los alfiles se mueven en diagonal.
Los caballos se mueven en forma de L.
Las torres se mueven en línea recta, tanto en horizontal como en vertical.
Los peones se mueven una casilla hacia adelante, o dos casillas hacia adelante en su primer movimiento. Además, pueden capturar a otras piezas en diagonal.
El juego continúa hasta que uno de los reyes es capturado. El jugador que logra capturar al rey de más de un oponente gana el juego.
            </p>
        </div>
        <div class="imagen" style="grid-row-start: 1;grid-row-end: 3;background-color: #2196F3;">
            <img src="https://picsum.photos/200/500">
        </div>
    </main>
 
    <th:block th:replace="fragments/footer.html :: footer" />
</body>

</html>