<!DOCTYPE html>
<html class="h-100" xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:replace="fragments/head :: header" />
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <title th:text="${jugadas}">Fourdrez</title>
</head>

<body class="d-flex flex-column h-100">
    <header th:replace="fragments/nav.html :: nav"></header>
    
    <main class="flex-shrink-0" style="display:grid; gap:50px;">
        <div class="container" style="grid-row-start: 1;grid-row-end: 1; background-color: #2196F3;">
            <h1 class="mt-5" style="text-align:center;">¿Qué es?</h1>
            <p style="text-align:justify; margin: 20px;">
                El ajedrez de 4 jugadores es un juego emocionante en el que cuatro personas compiten por el control del tablero. El objetivo del juego es capturar al rey de los demás jugadores mientras proteges al tuyo.
                Cada jugador tiene un conjunto de piezas que consta de un rey, una reina, dos alfiles, dos caballos, dos torres y ocho peones. El tablero tiene un tamaño de 12x12 cuadrados, con un total de 144 cuadrados.
            </p>
        </div>
        <div class="imagen" style="grid-row-start: 2;grid-row-end: 2; background-color: #2196F3;">
            <img src="https://picsum.photos/809/500">
        </div>
        <div class="imagen" style="grid-row-start: 1;grid-row-end: 1;background-color: #2196F3;">
            <img src="https://picsum.photos/809/500">
        </div>
        <div class="container" style="grid-row-start: 2;grid-row-end: 2; background-color: #2196F3;">
            <h1 class="mt-5" style="text-align:center;">WEWEWEWE</h1>
            <p style="text-align:justify; margin: 20px;">
                ¿Quiéres ser el mejor jugador del ajedrez de 4 jugadores a lo grande? Vente con tus amigos a jugar y demuéstrales quien tiene el mejor ingenio
                ¡Diviértete jugando al ajedrez de 4 jugadores y que gane el mejor estratega!
            </p>
        </div>
    </main>

    <th:block th:replace="fragments/footer.html :: footer" />
</body>

</html>