<!DOCTYPE html>
<html class="h-100" xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:replace="fragments/head :: header" />
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <title>Fourdrez Lobby</title>
    <script th:src="@{/js/game/phaser.min.js}"></script>
</head>

<body class="d-flex flex-column h-100">
    <header th:replace="fragments/nav.html :: nav"></header>



    <main class="flex-shrink-0">
        <div class="container" style="display: flex; margin-top: 60px; height: 600px;">


            <div th:if="${partida != null}">
                <!-- partida valida -->
                <h1 th:text="'Partida ' + ${partida.id}">Partida 123</h1>
                <form th:if="${jefe}" th:action="@{/partida/{id}(id=${partida.id})}" method="post">
                    Tiempo max <input name="tiempoTotal" th:value="${partida.tiempoTotal}" />
                    Incremento <input name="incremento" th:value="${partida.incrementoTiempoPorTurno}" />
                    <button type="submit">Cambiar configuracion</button>
                </form>

            </div>
            <div th:unless="${partida != null}">
                <h1 th:text="'Partida Rara'">Partida 123</h1>
                <form method="POST" th:action="@{/partida}">
                    <button type="submit">Crear partida nueva</button>
                </form>
            </div>


            <!-- Lista de usuarios en la lobby y chat -->
            <div style="flex: 1; box-sizing: border-box; border:5px solid #000; 
                        border-radius: 10px; flex-basis: 20%; display: flex; flex-direction: column;">




                <!-- <tr th:each="p: ${partidas.id.j}">
                    <td>Lobby1</td>
                    <td>
                        <form th:action="@{/partida/{id}(id=${p.id})}" method="get">
                            Partida <span th:text="${p.id}"></span>
                            <button type="submit" class="btn btn-outline-secondary btn-sm">Jugar</button>
                        </form>
                    </td>
                </tr> -->

                <!-- Usuarios -->
                <div
                    style="flex: 1; width: 100%; box-sizing: border-box; border-radius: 10px; border: 5px solid #000; flex-basis: 25%;">
                    <div th:each="j: ${partida.jugadores}"
                        style="display: flex; justify-content: space-between; padding: 10px;">
                        <h5 th:text="${j.user.username}">Usuario A</h5>

                        <h5 style="color: red;">Reportar</h5>
                    </div>
                </div>

                <!--CHAT-->
                <div style="flex: 1;box-sizing: border-box; border:5px solid #000; 
                        border-radius: 10px; flex-basis: 80%; display: 
                        flex; flex-direction: column; height: 100%;
                        justify-content: flex-end; align-items: center;">


                    <div th:each="m: ${messages}" 
                        style="border: 5px solid #000; width: 80%; border-radius: 10px; text-align: center;
                        padding: 10px;">
                    <!-- <h5 th:text="${m.sender}"> </h5> -->
                        <h5 th:text="${m.text}">Texto de prueba</h5>
                    </div>

                    <input type="text" placeholder="Escribe un mensaje..." style=" width: 100%; box-sizing: border-box; text-align: center;
                                                padding: 20px; border: 5px solid #000; border-radius: 10px; ">
                </div>

            </div>


            <!-- CHAT -->
            <div style="box-sizing: border-box; border:5px solid #000; 
                        border-radius: 10px; flex-basis: 80%;align-items: center;  ">

                <canvas id="juego" style="margin: 0; padding: 0; max-width: 100%; max-height: 100%;"></canvas>
                <script th:src="@{/js/game/game.js}" type="module"></script>

            </div>


        </div>
    </main>

    <th:block th:replace="fragments/footer.html :: footer" />
</body>

</html>