<!DOCTYPE html>
<html class="h-100" xmlns:th="http://www.thymeleaf.org">

<!-- Esto se maneja con el ADMINCONTROLLER -->

<head>
    <th:block th:replace="fragments/head :: header" />
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <title>Fourdrez UsuarioA</title>
</head>

<body class="d-flex flex-column h-100">
    <header th:replace="fragments/nav.html :: nav"></header>

    <main class="flex-shrink-0">
        <div class="container">
            <h1 class="mt-5 text-center" th:text="${'Perfil Usuario ' + user.username}">Perfil Usuario
            </h1>

            <table class="table table-bordered w-100 mx-auto">
                <tr>
                    <th colspan="3" class="text-center py-2 bg-pink">Informes recibidos</th>
                </tr>

                <tr>
                    <!-- Por cada denuncia que tenga el usuario... -->
                    <td th:each="d,iter: ${user.denuncias}">
                        <!-- Muestras el numero de denuncias -->
                        <h3 class="text-center" th:text="${'Denuncia ' + iter.count}">X</h3>
                    </td>
                </tr>

                <tr>
                    <!-- Por cada denuncia... -->
                    <td th:each="d: ${user.denuncias}">
                        <!-- Muestras la persona que te ha denunciado -->
                        <div class="border border-5 rounded text-center p-2 mx-auto width-80">
                            <p th:text="${'Denunciado por ' + d.denunciante.username}">X</p>
                        </div>
                    </td>
                </tr>
                <tr>
                    <!-- Por cada denuncia... -->
                    <td th:each="d: ${user.denuncias}" class="p-2 overflow-auto">
                        <!-- Muestra la conversacion de la partida de todas las personas -->
                        <div th:each="m: ${d.partida.received}"
                            class="border border-5 rounded text-center p-2 mx-auto width-80">
                            <p th:text="${m.sender.username}"> </p>
                            <p th:text="${m.text}">Texto de prueba</p>
                        </div>
                    </td>
                </tr>
            </table>
        </div>

    </main>

    <th:block th:replace="fragments/footer.html :: footer" />
</body>

</html>