<!DOCTYPE html>
<html class="h-100" xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:replace="fragments/head :: header" />
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <title>Fourdrez UsuarioA</title>
</head>

<body class="d-flex flex-column h-100">
    <header th:replace="fragments/nav.html :: nav"></header>

    <main class="flex-shrink-0">
        <div class="container">
            <h1 class="mt-5" style="text-align:center;" th:text="${'Perfil Usuario ' + user.username}">Perfil Usuario
            </h1>

            <table style="border-collapse: collapse;
            width: 100%;
            max-width:1000px;
            margin-left: auto;
            margin-right: auto;">
                <tr>
                    <th colspan="3" style="border: 1px solid #dddddd;
                    text-align: center;
                    padding: 8px;
                    background-color: #ff7083; position: inherit;">Informes recibidos</th>
                </tr>

                <tr>
                    <td th:each="d,iter: ${user.denuncias}" style="border: 1px solid #dddddd;">

                        <h3 style="text-align: center;" th:text="${'Denuncia ' + iter.count}">X</h3>


                    </td>
                </tr>

                <tr>
                    <td th:each="d: ${user.denuncias}" style="border: 1px solid #dddddd;">

                        <div
                            style="border: 5px solid #000; width: 80%; border-radius: 10px; text-align: center; padding: 10px;">
                            <p th:text="${'Denunciado por ' + d.denunciante.username}">X</p>
                        </div>

                    </td>
                </tr>
                <tr>
                    <td th:each="d: ${user.denuncias}" style="border: 1px solid #dddddd;
                    text-align: left;
                    padding: 8px;  overflow-y: scroll;">
                        <div th:each="m: ${d.partida.received}"
                            style="border: 5px solid #000; width: 80%; border-radius: 10px; text-align: center; padding: 10px;">
                            <p th:text="${m.sender.username}"> </p>
                            <p th:text="${m.text}">Texto de prueba</p>
                        </div>
                    </td>
                </tr>
            </table>
        </div>

    </main>

    <th:block th:replace="fragments/footer.html :: footer" />
</body>

</html>