<!DOCTYPE html>
<html class="h-100" xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:replace="fragments/head :: header" />
    <title>Fourdrez UsuarioA</title>
</head>

<body class="d-flex flex-column h-100">
    <header th:replace="fragments/nav.html :: nav"></header>

    <main class="flex-shrink-0">
        <div class="container" >
            <h1 class="mt-5" style="text-align:center;">Perfil UsuarioA</h1>

            <table style="border-collapse: collapse;
            width: 100%;
            max-width:1000px;
            margin-left: auto;
            margin-right: auto;">
                <tr>
                    <th colspan="3" style="border: 1px solid #dddddd;
                    text-align: center;
                    padding: 8px;
                    background-color: #ff7083;">Informes recibidos</th>
                </tr>
                <tr style="background-color: #dddddd;">
                    <td style="border: 1px solid #dddddd;
                    text-align: left;
                    padding: 8px;">1/1/2000</td>
                    <td style="border: 1px solid #dddddd;
                    text-align: right;
                    padding: 8px;"><button>Ver chat</button></td>
                </tr>
                <tr>
                    <td style="border: 1px solid #dddddd;
                    text-align: left;
                    padding: 8px;">2/1/2000</td>
                    <td style="border: 1px solid #dddddd;
                    text-align: right;
                    padding: 8px;"><button>Ver chat</button></td>
                </tr>
            </table>
            <div style="width: 500px; margin: 0 auto; padding-top: 100px; color: #fff;">
                <button class="btn btn-lg btn-primary btn-block" type="login" style="background-color: #ff7083;
                border: none;
                border-radius: 100px;
                color: black;
                cursor: pointer;
                font-size: 16px;
                padding: 10px;
                width: 100%;" onmouseover="this.style.backgroundColor='#ff556b';"
                onmouseout="this.style.backgroundColor='#ff7083';">Echar</button>
            </div>
            
        </div>
        
    </main>

    <th:block th:replace="fragments/footer.html :: footer" />
</body>

</html>