<!DOCTYPE html>
<html class="h-100" xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:replace="fragments/head :: header" />
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" th:href="@{/css/bootstrap-5.1.3.css}">
    <title>Fourdrez Probar Lobbies</title>
</head>

<body class="d-flex flex-column h-100">
    <header th:replace="fragments/nav.html :: nav"></header>

    <main class="flex-shrink-0">
        <div class="container">
            <!-- TODO HACERLO ROJO -->
            <h4 class="text-center text-danger" th:if="${fullLobby}">El lobby al que has intentado entrar está lleno
            </h4>
            <h1 class="mt-5 text-center">Lobbies</h1>

            <table class="table table-responsive mx-auto max-width-1000p">
                <tr>
                    <th>Lobbies</th>
                    <th>Crear</th>
                    <th>Num. Jugadores</th>
                </tr>
                <tr class="bg-light">
                    <td>Nueva partida</td>
                    <td>
                        <form th:action="@{/partida}" method="post">
                            <button type="submit" class="btn btn-outline-secondary btn-sm">Crear partida</button>
                        </form>
                    </td>
                    <td></td>
                </tr>
                <tr th:each="p,iter : ${partidas}">
                    <td th:text="${'Lobby ' + iter.count}">Lobby1</td>
                    <td>
                        Partida <span th:text="${p.id}"></span>

                    </td>
                    <td>
                        <form th:action="@{/partida/{id}/newuser(id=${p.id})}" method="post">
                            <span th:text="${#lists.size(p.jugadores) + '/4'}"> 0/0</span>
                            <button type="submit" class="btn btn-outline-secondary btn-sm">Jugar</button>
                        </form>
                    </td>
                </tr>
            </table>

        </div>

    </main>

    <th:block th:replace="fragments/footer.html :: footer" />
</body>

</html>