<!DOCTYPE html>
<!-- <html class="h-100" xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:replace="fragments/head :: header" />
    <title>IW: Welcome</title>
</head> -->

<head>
    <style>
        table{
            border-collapse: collapse;
            width: 100%;
            max-width:500px;
            margin-left: auto;
            margin-right: auto;
        }
        td, th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }
        tr:nth-child(even) {
        background-color: #dddddd;
        }
    </style>
</head>

<body class="d-flex flex-column h-100">
    <!-- <header th:replace="fragments/nav.html :: nav"></header> -->

    <main class="flex-shrink-0">
        <div class="container">
            <h1 class="mt-5" style="text-align:center;">TOP 10 PLEYAS</h1>

            <table>
                <tr>
                    <th>Nickname</th>
                    <th>Elo</th>
                    <th>Partidas jugadas</th>
                </tr>
                <tr>
                    <td>EjemploNick</td>
                    <td>EjemploElo</td>
                    <td>EjemploPartidas</td>
                </tr>
                <tr>
                    <td>EjemploNick2</td>
                    <td>EjemploElo2</td>
                    <td>EjemploPartidas2</td>
                </tr>
            </table>
        </div>
    </main>
<!-- 
    <th:block th:replace="fragments/footer.html :: footer" /> -->
</body>

</html>