<!DOCTYPE html>
<html class="h-100" xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:replace="fragments/head :: header" />
    <title>Fourdrez</title>
</head>

<body class="d-flex flex-column h-100">
    <header th:replace="fragments/nav.html :: nav"></header>

    <main class="flex-shrink-0">
        <div class="container">
            <h1 class="mt-5" style="text-align:center;">TOP 10 PLEYAS</h1>

            <table style="border-collapse: collapse;
            width: 100%;
            max-width:500px;
            margin-left: auto;
            margin-right: auto;">
                <tr>
                    <th style="border: 1px solid #dddddd;
                    text-align: left;
                    padding: 8px;
                    background-color: #ffb5f9;">Nickname</th>
                    <th style="border: 1px solid #dddddd;
                    text-align: left;
                    padding: 8px;
                    background-color: #ffb5f9;">Elo</th>
                    <th style="border: 1px solid #dddddd;
                    text-align: left;
                    padding: 8px;
                    background-color: #ffb5f9;">Partidas jugadas</th>
                </tr>
                <tr style="background-color: #dddddd;">
                    <td style="border: 1px solid #dddddd;
                    text-align: left;
                    padding: 8px;">EjemploNick</td>
                    <td style="border: 1px solid #dddddd;
                    text-align: left;
                    padding: 8px;">EjemploElo</td>
                    <td style="border: 1px solid #dddddd;
                    text-align: left;
                    padding: 8px;">EjemploPartidas</td>
                </tr>
                <tr>
                    <td style="border: 1px solid #dddddd;
                    text-align: left;
                    padding: 8px;">EjemploNick2</td>
                    <td style="border: 1px solid #dddddd;
                    text-align: left;
                    padding: 8px;">EjemploElo2</td>
                    <td style="border: 1px solid #dddddd;
                    text-align: left;
                    padding: 8px;">EjemploPartidas2</td>
                </tr>
            </table>
        </div>
    </main>
    <th:block th:replace="fragments/footer.html :: footer" />
</body>

</html>