<!DOCTYPE html>
<html class="h-100" xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:replace="fragments/head :: header" />
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" th:href="@{/css/bootstrap-5.1.3.css}">
    <title>Fourdrez</title>
</head>

<body class="d-flex flex-column h-100">
    <header th:replace="fragments/nav.html :: nav"></header>

    <main class="flex-shrink-0">
        <div class="container">
            <h1 class="mt-5 text-center">TOP 10 PLEYAS</h1>

            <table class="table table-bordered table-striped"
                style="max-width:500px; margin-left: auto; margin-right: auto;">
                <thead class="bg-pink">
                    <tr>
                        <th>Nickname</th>
                        <th>Elo</th>
                        <th>Partidas jugadas</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>EjemploNick</td>
                        <td>EjemploElo</td>
                        <td>EjemploPartidas</td>
                    </tr>
                    <tr>
                        <td>EjemploNick2</td>
                        <td>EjemploElo2</td>
                        <td>EjemploPartidas2</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </main>
    <th:block th:replace="fragments/footer.html :: footer" />
</body>

</html>