<!DOCTYPE html>
<html class="h-100" xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:replace="fragments/head :: header" />
    <title>Fourdrez</title>
</head>

<body class="d-flex flex-column h-100">
    <header th:replace="fragments/nav.html :: nav"></header>

    <main class="flex-shrink-0">
        <div class="container">
            <form class="form-signin" method="post" th:action="@{/login}" style="margin: auto;
            max-width: 600px;
            padding: 20px;">
                <h2 class="form-signin-heading" style="text-align: center;">Regístrate</h2>
                <p th:if="${#request.getQueryString() == 'error'}" class="error" style="color: red;
                font-size: 14px;
                margin-bottom: 10px;">
                    Error en nombre de usuario o contraseña
                </p>
                <p>
                    <label for="username" class="visually-hidden" style="display: block;
                    font-weight: bold;
                    margin-bottom: 5px;">Usuario</label>
                    <input type="text" id="username" name="username" class="form-control" placeholder="Usuario" required="required" style="border: 1px solid #ccc;
                    border-radius: 100px;
                    box-sizing: border-box;
                    font-size: 16px;
                    padding: 10px;
                    margin-bottom: 20px;
                    width: 100%;">
                </p>
                <p>
                    <label for="email" class="visually-hidden" style="display: block;
                    font-weight: bold;
                    margin-bottom: 5px;">Correo</label>
                    <input type="text" id="email" name="email" class="form-control" placeholder="Correo" required="required" style="border: 1px solid #ccc;
                    border-radius: 100px;
                    box-sizing: border-box;
                    font-size: 16px;
                    padding: 10px;
                    margin-bottom: 20px;
                    width: 100%;">
                </p>
                <p>
                    <label for="password" class="visually-hidden" style="display: block;
                    font-weight: bold;
                    margin-bottom: 5px;">Contraseña</label>
                    <input type="password" id="password" name="password" class="form-control" placeholder="Contraseña" required="required" style="border: 1px solid #ccc;
                    border-radius: 100px;
                    box-sizing: border-box;
                    font-size: 16px;
                    padding: 10px;
                    margin-bottom: 20px;
                    width: 100%;">
                </p>
                <p>
                    <label for="repeatpassword" class="visually-hidden" style="display: block;
                    font-weight: bold;
                    margin-bottom: 5px;">Repetir contraseña</label>
                    <input type="password" id="repeatpassword" name="repeatpassword" class="form-control" placeholder="Contraseña" required="required" style="border: 1px solid #ccc;
                    border-radius: 100px;
                    box-sizing: border-box;
                    font-size: 16px;
                    padding: 10px;
                    margin-bottom: 20px;
                    width: 100%;">
                </p>
                <button class="btn btn-lg btn-primary btn-block" type="submit" style="background-color: #ffb5f9;
                border: none;
                border-radius: 100px;
                color: black;
                cursor: pointer;
                font-size: 16px;
                padding: 10px;
                width: 100%;" onmouseover="this.style.backgroundColor='#be7eb9';"
                onmouseout="this.style.backgroundColor='#ffb5f9';">Regístrate</button>
                <p style="text-align: center;">o</p>
                <button class="btn btn-lg btn-primary btn-block" type="login" style="background-color: #ffb5f9;
                border: none;
                border-radius: 100px;
                color: black;
                cursor: pointer;
                font-size: 16px;
                padding: 10px;
                width: 100%;" onmouseover="this.style.backgroundColor='#be7eb9';"
                onmouseout="this.style.backgroundColor='#ffb5f9';">Iniciar sesión</button>
            </form>
        </div>
    </main>

    <th:block th:replace="fragments/footer.html :: footer" />
</body>

</html>