.color1 {
    color: blue;
    background-color: blueviolet;
}

.blue-bg {
    background-color: #2196F3;
}

.btn-pink {
    background-color: #ffb5f9 !important;
    color: black;
}

.btn-pink:hover {
    background-color: #be7eb9 !important;
}

.bg-pink {
    background-color: #ff7083 !important;
}