<!DOCTYPE html>
<html class="h-100" xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:replace="fragments/head :: header" />
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" th:href="@{/css/bootstrap-5.1.3.css}">
    <title>Fourdrez Lobby</title>
    <script th:src="@{/js/game/phaser.min.js}"></script>
</head>

<body class="d-flex flex-column h-100">
    <th:block th:fragment="partidaPrefab">
        <header th:replace="fragments/nav.html :: nav"></header>



        <main class="flex-shrink-0">
            <div class="container d-flex mt-5 h600">



                <div th:unless="${partida != null}">
                    <h1 th:text="'Partida Rara'">Partida 123</h1>
                    <form method="POST" th:action="@{/partida}">
                        <button type="submit">Crear partida nueva</button>
                    </form>
                </div>


                <!-- Lista de usuarios en la lobby y chat -->
                <div class="d-flex flex-column border border-5 rounded p-3 flex-grow-1 me-3 fb20">


                    <!-- <tr th:each="p: ${partidas.id.j}">
                    <td>Lobby1</td>
                    <td>
                        <form th:action="@{/partida/{id}(id=${p.id})}" method="get">
                            Partida <span th:text="${p.id}"></span>
                            <button type="submit" class="btn btn-outline-secondary btn-sm">Jugar</button>
                        </form>
                    </td>
                </tr> -->

                    <!-- Usuarios -->
                    <!-- AAA TODO CAMBIAR QUE NO PUEDAS REPORTARTE SI ERES EL MISMO USUARIO  -->
                    <div class="d-flex justify-content-between border border-5 rounded p-3 mb-3" id="listaJugadores">
                        <div th:each="j: ${partida.jugadores}" th:data-id="${j.user.id}">
                            <h5 th:text="${j.user.username}">Usuario A</h5>
                            <form method="POST" th:if="${j.user.id!=user.id}"
                                th:action="@{/partida/{id}/reportar(id=${partida.id})}">
                                <input type="hidden" name="idDenunciado" th:value="${j.user.id}" />
                                <input type="hidden" name="idDenunciante" th:value="${session.u.id}" />
                                <button type="submit" class="btn"><img src="/img/redflag.png"></button>
                            </form>
                            <a th:if="${partida.currentState == 0}">
                                <img th:if="${j.ready}" src="/img/tickReady.png">
                                <img th:unless="${j.ready}" src="/img/tickNotReady.png"></a>
                            </a>
                        </div>
                    </div>

                    <!--CHAT-->
                    <!-- <div style="flex: 1;box-sizing: border-box; border:5px solid #000; 
                        border-radius: 10px; flex-basis: 80%; display: 
                        flex; flex-direction: column; height: 100%;
                        justify-content: flex-end; align-items: center;">


                    <div th:each="m: ${messages}" style="border: 5px solid #000; width: 80%; border-radius: 10px; text-align: center;
                        padding: 10px;">
                        <p th:text="${m.sender.username}"> </p>
                        <p th:text="${m.text}">Texto de prueba</p>
                    </div>

                    <form method="POST" th:action="@{/partida/{id}/mensaje(id=${partida.id})}">
                        <input type="text" name="text" placeholder="Escribe un mensaje..." style=" width: 100%; box-sizing: border-box; text-align: center;
                        padding: 20px; border: 5px solid #000; border-radius: 10px; ">
                    </form>
                    
                </div> -->

                    <div class="d-flex flex-column border border-5 rounded p-3 h70p">
                        <div id="chat" class="overflow-auto mb-3">
                            <div th:each="m: ${messages}" class="border border-5 rounded text-center p-3">
                                <p th:text="${m.sender.username}"> </p>
                                <p th:text="${m.text}">Texto de prueba</p>
                            </div>
                        </div>
                        <form method="POST" th:action="@{/partida/{id}/mensaje(id=${partida.id})}">
                            <input type="text" id="sendMessage" name="text" placeholder="Escribe un mensaje..."
                                class="w-100 text-center py-3 border border-5 rounded">
                        </form>
                    </div>



                </div>


                <!-- Con esto accedemos al id de la partida desde el juego en javascript -->
                <input th:value="${partida.id}" id="lobbyId" type="hidden" />

                <!--Tu equipo-->
                <span th:each="j: ${partida.jugadores}">
                    <span th:if="${j.user.id==user.id}">
                        <input th:value="${j.toChar()}" id="team" type="hidden" />
                    </span>
                </span>
                <input th:value="${partida.tableroTeams}" id="tabTeams" type="hidden" />
                <input th:value="${partida.tableroTypes}" id="tabTypes" type="hidden" />
                <input th:value="${partida.gameStarted}" id="gameStarted" type="hidden" />

                <!--Tablero en BD-->
                <input th:value="${partida.tableroTeams}" id="teams" type="hidden" />
                <input th:value="${partida.tableroTypes}" id="types" type="hidden" />

                <!--Equipo que juega ahora-->
                <input th:value="${partida.turn}" id="turn" type="hidden" />



                <!-- GAME -->
                <!-- Poner th:if="${partida.currentState == 0}" si no quereis tener que poner todo el mundo en ready para que aparezca 
                Tambien comentar el div de justo debajo para que no aparezcan los ajustes -->
                <div th:if="${partida.currentState == 1}"
                    class="border border-5 rounded d-flex align-items-center border-box fb80">
                    <canvas id="juego" class="mx-auto max-width-100 max-height-100"></canvas>
                    <script th:src="@{/js/game/game.js}" type="module"></script>
                </div>

                <div th:if="${partida.currentState == 0}" id="chessGame"
                    class="border border-5 rounded d-flex flex-column align-items-center justify-content-center border-box fb80">

                    <div th:if="${partida.currentState == 0}" class="text-center">
                        <!-- partida valida -->
                        <h1 th:text="'Partida ' + ${partida.id}" class="mt-3">Partida 123</h1>
                        <form th:if="${jefe}" th:action="@{/partida/{id}(id=${partida.id})}" method="post" class="mb-3">
                            <div class="input-group mb-3">
                                <span class="input-group-text">Tiempo max</span>
                                <input name="tiempoTotal" th:value="${partida.tiempoTotal}" class="form-control">
                            </div>
                            <div class="input-group mb-3">
                                <span class="input-group-text">Incremento</span>
                                <input name="incremento" th:value="${partida.incrementoTiempoPorTurno}"
                                    class="form-control">
                            </div>
                            <button type="submit" class="btn btn-primary">Cambiar configuracion</button>
                        </form>

                        <div th:unless="${jefe}">
                            <div class="input-group mb-3">
                                <span class="input-group-text">Tiempo max</span>
                                <input name="tiempoTotal" th:value="${partida.tiempoTotal}" class="form-control"
                                    readonly>
                            </div>
                            <div class="input-group mb-3">
                                <span class="input-group-text">Incremento</span>
                                <input name="incremento" th:value="${partida.incrementoTiempoPorTurno}"
                                    class="form-control" readonly>
                            </div>
                        </div>

                        <form th:action="@{/partida/{id}/listo(id=${partida.id})}" method="post" class="mb-3">
                            <button id="readyButton" type="submit" class="btn btn-primary">LISTO</button>
                        </form>
                    </div>
                </div>

                <!-- <form th:action="@{/partida/{id}/ganar(id=${partida.id})}" method="post" class="mb-3">
                    <button type="submit" class="btn btn-primary">LISTO</button>
                </form> -->

                <script>
                    function muestraMensaje(target, sender, textToSend) {
                        target.innerHTML += `<div
                        style="border: 5px solid #000; width: 80%; border-radius: 10px; text-align: center; padding: 10px;">
                        <p>` + sender + `</p>
                        <p>` + textToSend + `</p>
                    </div>`;
                    }

                    let inputMuyBonito = document.getElementById("sendMessage");

                    let sender = config.username;

                    inputMuyBonito.parentNode.onsubmit = (e) => {
                        e.preventDefault();

                        let inputMuyBonito = document.getElementById("sendMessage");

                        let textToSend = inputMuyBonito.value;

                        go(inputMuyBonito.parentNode.action, 'POST', {
                            message: inputMuyBonito.value
                        })
                            .then(d => console.log(":-)", d))
                            .catch(e => console.log(e))

                    }

                    function muestraJoin(target, phaserTarget, username, userId, urlDenuncia, ready, startGame) {
                        //Gestiona el boton de ready
                        const banderaEnorme = `
                        <form method="POST" action="${urlDenuncia}">
                            <input type="hidden" name="idDenunciado" value="${userId}" />
                            <input type="hidden" name="idDenunciante" value="${config.userId}" />
                            <button type="submit"><img src="/img/redflag.png"></button>
                        </form>`;
                        const elemento =
                            `<div data-id="${userId}"><h5>${username}</h5> 
                            ${userId != config.userId ? banderaEnorme : ''}
                            <img src="${ready ? '/img/tickReady.png' : '/img/tickNotReady.png'}"/>
                        </div>`;
                        let encontrado = false;
                        for (let j of target.childNodes) {
                            if (j != undefined && j.dataset != undefined && j.dataset.id != undefined) {
                                if (j.dataset.id == userId) {
                                    encontrado = true;
                                    j.innerHTML = "";
                                    j.innerHTML = elemento;
                                    break;
                                }
                            }
                        }
                        if (!encontrado) {
                            target.innerHTML += elemento;
                        }

                        //Gestiona la vista del juego
                        if (startGame) {

                            const vistaJuego =
                                `<div class="border border-5 rounded d-flex align-items-center"
                                    style="box-sizing: border-box; flex-basis: 80%;">
                                    <canvas id="juego" class="mx-auto" style="max-width: 100%; max-height: 100%;"></canvas>
                                    <script src="${config.rootUrl}/js/game/game.js" type="module"><\/script>
                            </div>`;
                            phaserTarget.innerHTML = vistaJuego;
                        }
                    }
                    let readyButton = document.getElementById("readyButton");
                    if (readyButton) {
                        readyButton.parentNode.onsubmit = (e) => {
                            e.preventDefault();

                            go(readyButton.parentNode.action, 'POST', {})
                                .then(d => console.log("ENVIA READY WUO", d))
                                .catch(e => console.log(e))
                        }
                    }

                    // function sendMessage(message,sender){
                    // return go(config.rootUrl + "/partida/{id}/mensaje(id=${partida.id})",'POST',{message,sender})
                    // .then(d=>console.log("SE HA ENVIADO EL MENSAJE"))
                    // .catch(e=>console.log(e))
                    // }
                </script>


            </div>
        </main>

        <script>
            config.topicId = "[['/topic/' + ${partida.topicId}]]";

            // go(enlace.action, 'GET', {})
            //     .then(d => console.log("Movido a la pagina correspondiente", d))
            //     .catch(e => console.log(e));
            // muestraJoin(document.querySelector("#listaJugadores"), u.getUsername(), u.getId(), p.getId(), false);
        </script>
        <th:block th:replace="fragments/footer.html :: footer" />
        <script>
            ws.receive = (d) => {
                if (d.type === "CHAT") {
                    const target = document.querySelector("#chat");
                    muestraMensaje(target, d.from, d.text);
                } else if (d.type === "JOIN") {
                    const target = document.querySelector("#listaJugadores");
                    const phaserTarget = document.querySelector('#chessGame');
                    muestraJoin(target, phaserTarget, d.username, d.userId, "localhost/partida/" + d.partidaId + "/reportar", d.ready, d.startGame);
                } else if (d.type === "MOVEPIECE") {
                    config.game.scene.scenes[1].movePiece(d.pieceType, d.pieceTeam, d.oldPositionX, d.oldPositionY, d.newPositionX, d.newPositionY, d.newTurn);
                }
            }
        </script>
    </th:block>
</body>

</html>